In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
file = "resources/State_population_data_2010-2019.xlsx"

In [5]:
# Read our Data file for 2019 with the pandas library
population = pd.read_excel(file)
pop_df = pd.DataFrame(population)

In [26]:
pop_df.rename(columns={"Unnamed: 0":"state"},inplace=True)
pop_df.dropna(how='any',inplace=True)
pop_df.head()

,state,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
5,.Alabama,4779736.0,4780125.0,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
6,.Alaska,710231.0,710249.0,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
7,.Arizona,6392017.0,6392288.0,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
8,.Arkansas,2915918.0,2916031.0,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
9,.California,37253956.0,37254519.0,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0

In [27]:
#identify index of unneeded regions
us = pop_df[pop_df['state'] == "United States"].index
northeast = pop_df[pop_df['state'] == "Northeast"].index
midwest = pop_df[pop_df['state'] == "Midwest"].index
south = pop_df[pop_df['state'] == "South"].index
west = pop_df[pop_df['state'] == "West"].index

In [28]:
#list of re
drop_list = [us,northeast,midwest,south,west]

In [44]:
state_only_pop = pop_df

In [30]:
#for loop to get rid of the larger regions listed above
for region in drop_list:
    state_only_pop.drop(region,inplace=True)

[None, None, None, None, None]

In [54]:
#rename column headers to something more suitable for db upload
state_only_pop.rename(columns={'Census':'census','Estimates Base':'estimates_base'})

,index,state,state_abbr,census,estimates_base,2015,2016,2017,2018
0,5,.Alabama,AL,4779736.0,4780125.0,4852347.0,4863525.0,4874486.0,4887681.0
1,6,.Alaska,AK,710231.0,710249.0,737498.0,741456.0,739700.0,735139.0
2,7,.Arizona,AZ,6392017.0,6392288.0,6829676.0,6941072.0,7044008.0,7158024.0
3,8,.Arkansas,AR,2915918.0,2916031.0,2978048.0,2989918.0,3001345.0,3009733.0
4,9,.California,CA,37253956.0,37254519.0,38918045.0,39167117.0,39358497.0,39461588.0
5,10,.Colorado,CO,5029196.0,5029319.0,5450623.0,5539215.0,5611885.0,5691287.0
6,11,.Connecticut,CT,3574097.0,3574147.0,3587122.0,3578141.0,3573297.0,3571520.0
7,12,.Delaware,DC,897934.0,897937.0,941252.0,948921.0,956823.0,965479.0
8,13,.District of Columbia,DE,601723.0,601767.0,675400.0,685815.0,694906.0,701547.0
9,14,.Florida,FL,18801310.0,18804564.0,20209042.0,20613477.0,20963613.0,21244317.0
10,15,.Georgia,GA,9687653.0,9688729.0,10178447.0,10301890.0,10410330.0,10511131.0
11,16,.Hawaii,HI,1360301.0,1360307.0,1422052.0,1427559.0,1424393.0,1420593.0
12,17,.Idaho,ID,1567582.0,1567657.0,1651059.0,1682380.0,1717715.0,1750536.0
13,18,.Illinois,IL,12830632.0,12831572.0,12858913.0,12820527.0,12778828.0,12723071.0
14,19,.Indiana,IN,6483802.0,6484051.0,6608422.0,6634304.0,6658078.0,6695497.0
15,20,.Iowa,IA,3046355.0,3046871.0,3120960.0,3131371.0,3141550.0,3148618.0
16,21,.Kansas,KS,2853118.0,2853123.0,2909011.0,2910844.0,2908718.0,2911359.0
17,22,.Kentucky,KY,4339367.0,4339333.0,4425976.0,4438182.0,4452268.0,4461153.0
18,23,.Louisiana,LA,4533372.0,4533487.0,4664628.0,4678135.0,4670560.0,4659690.0
19,24,.Maine,ME,1328361.0,1328358.0,1328262.0,1331317.0,1334612.0,1339057.0
20,25,.Maryland,MD,5773552.0,5773794.0,5985562.0,6003323.0,6023868.0,6035802.0
21,26,.Massachusetts,MA,6547629.0,6547785.0,6794228.0,6823608.0,6859789.0,6882635.0
22,27,.Michigan,MI,9883640.0,9884116.0,9931715.0,9950571.0,9973114.0,9984072.0
23,28,.Minnesota,MN,5303925.0,5303927.0,5482032.0,5522744.0,5566230.0,5606249.0
24,29,.Mississippi,MS,2967297.0,2968130.0,2988471.0,2987938.0,2988510.0,2981020.0
25,30,.Missouri,MO,5988927.0,5988950.0,6071732.0,6087135.0,6106670.0,6121623.0
26,31,.Montana,MT,989415.0,989407.0,1030475.0,1040859.0,1052482.0,1060665.0
27,32,.Nebraska,NE,1826341.0,1826305.0,1891277.0,1905616.0,1915947.0,1925614.0
28,33,.Nevada,NV,2700551.0,2700677.0,2866939.0,2917563.0,2969905.0,3027341.0
29,34,.New Hampshire,NH,1316470.0,1316462.0,1336350.0,1342307.0,1348787.0,1353465.0
30,35,.New Jersey,NJ,8791894.0,8791978.0,8867949.0,8870827.0,8885525.0,8886025.0
31,36,.New Mexico,NM,2059179.0,2059199.0,2089291.0,2091630.0,2091784.0,2092741.0
32,37,.New York,NY,19378102.0,19378144.0,19654666.0,19633428.0,19589572.0,19530351.0
33,38,.North Carolina,NC,9535483.0,9535751.0,10031646.0,10154788.0,10268233.0,10381615.0
34,39,.North Dakota,ND,672591.0,672576.0,754066.0,754434.0,754942.0,758080.0
35,40,.Ohio,OH,11536504.0,11536751.0,11617527.0,11634370.0,11659650.0,11676341.0
36,41,.Oklahoma,OK,3751351.0,3751582.0,3909500.0,3926331.0,3931316.0,3940235.0
37,42,.Oregon,OR,3831074.0,3831079.0,4015792.0,4089976.0,4143625.0,4181886.0
38,43,.Pennsylvania,PA,12702379.0,12702868.0,12784826.0,12782275.0,12787641.0,12800922.0
39,44,.Rhode Island,RI,1052567.0,1052964.0,1056065.0,1056770.0,1055673.0,1058287.0
40,45,.South Carolina,SC,4625364.0,4625366.0,4891938.0,4957968.0,5021268.0,5084156.0
41,46,.South Dakota,SD,814180.0,814198.0,853988.0,862996.0,872868.0,878698.0
42,47,.Tennessee,TN,6346105.0,6346276.0,6591170.0,6646010.0,6708799.0,6771631.0
43,48,.Texas,TX,25145561.0,25146091.0,27470056.0,27914410.0,28295273.0,28628666.0
44,49,.Utah,UT,2763885.0,2763891.0,2981835.0,3041868.0,3101042.0,3153550.0
45,50,.Vermont,VT,625741.0,625737.0,625216.0,623657.0,624344.0,624358.0
46,51,.Virginia,VA,8001024.0,8001049.0,8361808.0,8410106.0,8463587.0,8501286.0
47,52,.Washington,WA,6724540.0,6724540.0,7163657.0,7294771.0,7423362.0,7523869.0
48,53,.West Virginia,WV,1852994.0,1853018.0,1842050.0,1831023.0,1817004.0,1804291.0
49,54,.Wisconsin,WI,5686986.0,5687285.0,5760940.0,5772628.0,5790186.0,5807406.0
50,55,.Wyoming,WY,563626.0,563775.0,585613.0,584215.0,578931.0,577601.0
51,57,Puerto Rico,PU,3725789.0,3726157.0,3473232.0,3406672.0,3325286.0,3193354.0

In [53]:
state_only_pop.reset_index(inplace=True)
state_only_pop.head()

,index,state,state_abbr,Census,Estimates Base,2015,2016,2017,2018
0,5,.Alabama,AL,4779736.0,4780125.0,4852347.0,4863525.0,4874486.0,4887681.0
1,6,.Alaska,AK,710231.0,710249.0,737498.0,741456.0,739700.0,735139.0
2,7,.Arizona,AZ,6392017.0,6392288.0,6829676.0,6941072.0,7044008.0,7158024.0
3,8,.Arkansas,AR,2915918.0,2916031.0,2978048.0,2989918.0,3001345.0,3009733.0
4,9,.California,CA,37253956.0,37254519.0,38918045.0,39167117.0,39358497.0,39461588.0

In [34]:
#list of states to insert into DF
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY","PU"]

In [35]:
#insert in DF
state_only_pop['state_abbr'] = states

In [49]:
#Get only the columns we need and reorder
state_only_pop = state_only_pop.filter(['state','state_abbr','Census','Estimates Base',2015,2016,2017,2018])

In [50]:
state_only_pop.head()

,state,state_abbr,Census,Estimates Base,2015,2016,2017,2018
5,.Alabama,AL,4779736.0,4780125.0,4852347.0,4863525.0,4874486.0,4887681.0
6,.Alaska,AK,710231.0,710249.0,737498.0,741456.0,739700.0,735139.0
7,.Arizona,AZ,6392017.0,6392288.0,6829676.0,6941072.0,7044008.0,7158024.0
8,.Arkansas,AR,2915918.0,2916031.0,2978048.0,2989918.0,3001345.0,3009733.0
9,.California,CA,37253956.0,37254519.0,38918045.0,39167117.0,39358497.0,39461588.0